pipeline/pl_automate_project.json
{
	"name": "pl_automate_project",
	"properties": {
		"activities": [
			{
				"name": "If staging path or staging table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Truncate Target and Error Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(toLower(pipeline().parameters.Is_Source_File_or_Table),'file')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Variable_Staging_Table",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Staging_Path",
								"value": {
									"value": "@pipeline().parameters.Config_Staging_File_Path_Or_Table",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "get_latest_staging_path",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/22bca10860@cuchd.in/Full_Automate_Scenario/Get Staging File Path",
								"baseParameters": {
									"Staging_File_Pattern": {
										"value": "@pipeline().parameters.Staging_File_Pattern",
										"type": "Expression"
									},
									"Staging_Folder_Path": {
										"value": "@pipeline().parameters.Staging_Parent_Folder_Path",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Variable_Staging_Path",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_latest_staging_path",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Staging_Path",
								"value": {
									"value": "@activity('get_latest_staging_path').output.runOutput",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Insert_into_config_table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "If staging path or staging table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "process_dom_id",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Config_Process_DOM_ID",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "file_path_or_table",
									"type": "String",
									"value": {
										"value": "@variables('Staging_Path')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "scenario",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Scenario",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "target_table_name",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Target_Table_Name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "exep_table_name",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Exep_Table_Name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "databricks_notebook_name",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Databricks_Notebook_Name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "databricks_notebook_path",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.Databricks_Notebook_Path",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "sequence",
									"type": "Int64",
									"value": {
										"value": "@pipeline().parameters.Sequence",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "flag",
									"type": "Int64",
									"value": {
										"value": "@pipeline().parameters.Flag",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": {
								"value": "INSERT INTO commercial_stg.tower_config_table VALUES (\n    @process_dom_id\n    ,@file_path_or_table\n    ,@scenario\n    ,@target_table_name\n    ,@exep_table_name\n    ,@databricks_notebook_name\n    ,@databricks_notebook_path\n    ,@sequence\n    ,@flag\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Loading_And_Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Insert_into_config_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/22bca10860@cuchd.in/Full_Automate_Scenario/Loading and Transformation",
					"baseParameters": {
						"Source_Path": {
							"value": "@variables('Staging_Path')",
							"type": "Expression"
						},
						"Target_Table": {
							"value": "@pipeline().parameters.Target_Table_Name",
							"type": "Expression"
						},
						"Error_Table": {
							"value": "@pipeline().parameters.Exep_Table_Name",
							"type": "Expression"
						},
						"Source_File_or_Table": {
							"value": "@pipeline().parameters.Is_Source_File_or_Table",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Target and Error Table",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "truncate table commercial_tgt.zartt_art_stg\ntruncate table commercial_exep_tgt.error_zartt_art_stg"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"Staging_File_Pattern": {
				"type": "string",
				"defaultValue": "emp"
			},
			"Staging_Parent_Folder_Path": {
				"type": "string",
				"defaultValue": "/dbfs/mnt/dbsa735/adfscenarios/Automated_Project"
			},
			"Config_Process_DOM_ID": {
				"type": "string",
				"defaultValue": "DM0224"
			},
			"Config_Staging_File_Path_Or_Table": {
				"type": "string",
				"defaultValue": "COMMERCIAL_STG.MARA"
			},
			"Scenario": {
				"type": "string",
				"defaultValue": "INSERT"
			},
			"Target_Table_Name": {
				"type": "string",
				"defaultValue": "COMMERCIAL_TGT.ZARTT_ART_STG"
			},
			"Exep_Table_Name": {
				"type": "string",
				"defaultValue": "COMMERCIAL_EXEP_TGT.ERROR_ZARTT_ART_STG"
			},
			"Databricks_Notebook_Name": {
				"type": "string",
				"defaultValue": "NB_DM0224"
			},
			"Databricks_Notebook_Path": {
				"type": "string",
				"defaultValue": "/MNT/DFA"
			},
			"Sequence": {
				"type": "int",
				"defaultValue": 1
			},
			"Flag": {
				"type": "int",
				"defaultValue": 1
			},
			"Is_Source_File_or_Table": {
				"type": "string",
				"defaultValue": "File"
			}
		},
		"variables": {
			"Staging_Path": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-27T07:21:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}